/*cadetblue1 98F5FF
palegreen #9AFF9A
lavender blush 2 #EEE0E5
thistle #D8BFD8
lightblue 1 BFEFFF 
azure 2 E0EEEE
gray91 E8E8E8 */

/*
icon blue 5c80cb
lighter icon blue 8EB2FD
chiller 98BCFD
even more chill A2C6FD
chillest ACD0FD*/

#header,#main,#sidebar,#searchbar{
	position:absolute;
	/*font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	color:#000000;
	/*border-style:solid;
	border-width:2px;
	border-color:#000000;	
	background-color:#FFFFFF;*/
}

#header,#searchbar,#sidebar,#main,#descrip,#subheader,#surheader,#submit {
	font-family:'Quattrocento Sans', sans-serif, bold;
	color:#000000;
}

#header{
	background-color:#ACD0FD;
	/*background-color: #5c80cb;*/
	/*color:#5c80cb;*/
	font-size:5em;
	width:105%;
	height:90px;
	margin-left:-10px;
	padding:10px;
	line-height:100px;
	/*border-bottom-style:solid;*/
	/*border-bottom-color:#5c80cb;*/
	border-bottom-color: #000;
	border-bottom-width:1px;
}

#surheader{
	font-size:1.2em;
	position:absolute;
	top:35px;
	margin-left:5px;
	/*color:#5c80cb;*/
}

#subheader{
	font-size:1em;
	position:absolute;
	top:76px;
	left:220px;
	color:#666;
	/*color:#5c80cb;*/
}

#main{
	top:120px;
	width:73%;
	height:80%;
	margin-left:0px;
}

#searchbar{
	text-align: bottom;
	top:100px;
	font-size:1.4em;
	margin-left:100px;
	width:750px;
	/*-webkit-appearance: none;*/
}

#textbox{
	font-family:'Quattrocento Sans', sans-serif, bold;
	font-size:20px;
	width:270px;
	height:25px;
}

.response{
	position:absolute;
	font-size:2em;
	/*visibility:hidden;*/
	top:90px;
	width:800px;
	height:300px;
	margin-left:100px; 
	/*background-color:#E8E8E8;*/
	background-color:#E0EEEE;
	/*background-color: #C0E4FD;*/
	/*text-align: center;*/
	/*line-height:300px;*/
	/*border-style:solid;
	border-width:2px;
	border-color:#000000;	*/
	border0
}

#code,#title,#c_descrip,#ratings{
	position:relative;
	padding:5px;
	top:0;
}
#code{
	font-size:1em;
}
#title{
	font-size:0.8em;
	font-style: italic;
}
#c_descrip{
	font-size:0.5em;
}
#ratings{
	font-size:0.5em;
}

/*#eval{
	top:405px;
	height:50px;
	line-height:50px;
	margin-left:275px;
	text-align:left;
	font-size:1.8em;
	position:absolute;
}*/

#buttons{
	position:absolute;
	height:50px;
	top:405px;
	margin-left:525px;
}



#descrip{
	font-size:1em;
	color:#666;
	position:absolute;
	top:420px;
	margin-left:200px;
	text-align:center;
}

#submit{
	border-radius:20px;
	background-color:#5c80cb;
	color:#fff;
	font-size:0.9em;
	border-color:#fff;
	border-style:none;
	text-align:center;
	line-height:30px;
	width:40px;
	height:40px;
}

#sidebar{
	text-align:left;
	font-size:2em;
	top:190px;
	width:200px;
	height:400px;
	margin-left:860px;
	
}



